.row {
    clear: both;
    @extend .clearfix;
}



.columns,
.column {
    float: left;
    display: inline-block;
    width: 100%;

    &.last {
        float: right;
    }
}


@for $i from 1 through $max-columns {

    .small-#{$i} {
        width: 100% / $i;
    }

    @media #{$medium-up} {
        .medium-#{$i} {
            width: 100% / $i !important;
        }
    }

    @media #{$large-up} {
        .large-#{$i} {
            width: 100% / $i !important;
        }
    }
}
