// Fonts
$font-regular: 'Lato', sans-serif;
$font-bold: 'Lato', sans-serif;
$font-light: 'Lato', sans-serif;

// Colors
$color-primary: #333333;
$color-secondary: #bbbbbb;
$color-dark: #1a1a1a;
$color-link: #00aeef;
$color-warning: #e51e1a;
$color-bg: #d7d7d7;

// Measuerments
$max-container-width: 1280px;
$max-columns: 5;
