/* line 1, ../../scss/base/_helpers.scss */
.color__light {
  color: #bbbbbb;
}

/* line 5, ../../scss/base/_helpers.scss */
.font__bold {
  font-family: "Lato", sans-serif;
}

/* line 9, ../../scss/base/_helpers.scss */
.inline-list {
  list-style-type: none;
}
/* line 13, ../../scss/base/_helpers.scss */
.inline-list li {
  display: inline-block;
}

/* line 19, ../../scss/base/_helpers.scss */
.clearfix:after, .row:after, .nav:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../../scss/base/_grid.scss */
.small-1 {
  width: 100%;
}

@media only screen and (min-width: 45.71429em) {
  /* line 12, ../../scss/base/_grid.scss */
  .medium-1 {
    width: 100%;
  }
}
@media only screen and (min-width: 73.14286em) {
  /* line 18, ../../scss/base/_grid.scss */
  .large-1 {
    width: 100%;
  }
}
/* line 7, ../../scss/base/_grid.scss */
.small-2 {
  width: 50%;
}

@media only screen and (min-width: 45.71429em) {
  /* line 12, ../../scss/base/_grid.scss */
  .medium-2 {
    width: 50%;
  }
}
@media only screen and (min-width: 73.14286em) {
  /* line 18, ../../scss/base/_grid.scss */
  .large-2 {
    width: 50%;
  }
}
/* line 7, ../../scss/base/_grid.scss */
.small-3 {
  width: 33.33333%;
}

@media only screen and (min-width: 45.71429em) {
  /* line 12, ../../scss/base/_grid.scss */
  .medium-3 {
    width: 33.33333%;
  }
}
@media only screen and (min-width: 73.14286em) {
  /* line 18, ../../scss/base/_grid.scss */
  .large-3 {
    width: 33.33333%;
  }
}
/* line 7, ../../scss/base/_grid.scss */
.small-4 {
  width: 25%;
}

@media only screen and (min-width: 45.71429em) {
  /* line 12, ../../scss/base/_grid.scss */
  .medium-4 {
    width: 25%;
  }
}
@media only screen and (min-width: 73.14286em) {
  /* line 18, ../../scss/base/_grid.scss */
  .large-4 {
    width: 25%;
  }
}
/* line 7, ../../scss/base/_grid.scss */
.small-5 {
  width: 20%;
}

@media only screen and (min-width: 45.71429em) {
  /* line 12, ../../scss/base/_grid.scss */
  .medium-5 {
    width: 20%;
  }
}
@media only screen and (min-width: 73.14286em) {
  /* line 18, ../../scss/base/_grid.scss */
  .large-5 {
    width: 20%;
  }
}
/* line 25, ../../scss/base/_grid.scss */
.columns-* {
  float: left;
}
/* line 28, ../../scss/base/_grid.scss */
.columns-*.last {
  float: right;
}

/* line 1, ../../scss/base/_page.scss */
body {
  background: #bbbbbb;
}

/* line 5, ../../scss/base/_page.scss */
.entry__wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

/* line 10, ../../scss/base/_page.scss */
p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

/* line 16, ../../scss/base/_page.scss */
h1 {
  font-family: "Lato", sans-serif;
  font-size: 42px;
  line-height: 54px;
}

/* line 22, ../../scss/base/_page.scss */
h2 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  line-height: 42px;
}

/* line 28, ../../scss/base/_page.scss */
h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

/* line 34, ../../scss/base/_page.scss */
a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: underline;
}

/* line 4, ../../scss/parts/_header.scss */
.nav__main {
  background: #1a1a1a;
}
